<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RV GameStore - Privacy and Policy</title>
    <link rel="stylesheet" th:href="@{/css/legal.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body class="privacy-policy">
    <header th:insert="~{header::header}"></header>

    <div class="first-section">
      <h1 class="Privacy-Policy-Heading">Privacy Policy</h1>
      <p class="Privacy-Policy-Para">
        Welcome to RV GameStore. Scroll down to read our Privacy Policy.
      </p>
    </div>

    <div class="second-section">
      <div class="container d-flex align-items-center">
        <div class="row">
          <div class="col-md-6">
            <h1 class="Heading-1">Let Know About Me</h1>
            <h3 class="Heading-1-para">
              Hello, welcome to RV GameStore's Privacy Policy. At RV GameStore,
              we prioritize your privacy and data security. We collect and use
              your information responsibly to enhance your shopping experience.
              For detailed information, feel free to explore this section or
              contact us for any queries.
            </h3>
          </div>
          <div class="col-md-6">
            <div class="container">
              <img class="rounded-lg" src="/images/g1.jpg" alt="game-image" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="third-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="container">
              <img
                class="rounded-lg mt-2"
                src="/images/gaming-purpose.jpg"
                alt="game-image"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h1 class="Heading-1">Let Know About Purpose</h1>
            <h3 class="Heading-1-para">
              RV GameStore provides a comprehensive platform for purchasing
              video games and gaming accessories. In today's era, the younger
              generation readily embraces gaming, and people are actively
              seeking the best website to buy accessories at competitive prices.
              While numerous websites exist, we stand out by offering products
              at affordable prices.
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="fourt-section">
      <div class="container">
        <div
          id="default-carousel"
          class="relative w-full"
          data-carousel="slide"
          data-carousel-interval="15000"
        >
          <div class="relative h-96 md:h-96">
            <div class="duration-700 ease-in-out" data-carousel-item>
              <h1 class="heading-1">Security</h1>
              <h3 class="Heading-1-para">
                Ensuring security is paramount at RV GameStore. We safeguard
                your personal information with robust measures to protect
                against unauthorized access, alteration, disclosure, or
                destruction. We employ encryption protocols and secure
                technologies to transmit data safely over the internet. Our
                commitment extends to regularly updating security practices to
                mitigate evolving threats. We adhere strictly to privacy laws
                and regulations, ensuring your trust is well-placed. Rest
                assured, your data is used solely for enhancing your shopping
                experience and is never shared without consent. For detailed
                insights into our security practices, please explore our
                comprehensive Privacy Policy or contact our support team.
              </h3>
            </div>

            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <h1 class="heading-1">Admin</h1>
              <h3 class="Heading-1-para">
                Admin access at RV GameStore ensures secure management of user
                data. Passwords are stored in encrypted formats, ensuring
                confidentiality. Admins are strictly prohibited from misusing
                customer information or their own credentials, such as Gmail
                IDs. We enforce rigorous security protocols and monitoring to
                safeguard against unauthorized access and ensure compliance with
                privacy regulations. Our commitment extends to maintaining
                transparency and trust, fostering a secure environment for both
                users and administrators a like.
              </h3>
            </div>

            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <h1 class="heading-1">Privacy Cookies</h1>
              <h3 class="Heading-1-para">
                At RV GameStore, we prioritize your privacy regarding cookies.
                These small text files are used to enhance your browsing
                experience by remembering preferences and analyzing site usage.
                We ensure transparency in our cookie usage, detailing their
                purpose and duration in our Privacy Policy. You have the option
                to manage or disable cookies through your browser settings,
                though this may affect certain site functionalities. Rest
                assured, cookies do not compromise your personal data security
                and are solely used to optimize your interaction with RV
                GameStore. For more details on how we handle cookies, please
                refer to our comprehensive Privacy Policy
              </h3>
            </div>
          </div>

          <button
            type="button"
            class="absolute top-12 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-black/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-black dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-black dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-12 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-black/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-black dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                class="w-4 h-4 text-black dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div
        class="alternative-payment-separator"
        data-alternative-payment-separator=""
      >
        <span class="alternative-payment-separator__content"> OR </span>
      </div>
    </div>

    <div class="fifth-section my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 border-r-2">
            <h1 class="Heading-1 my-3">Data Center Location</h1>
            <p class="Heading-1-para">
              At RV GameStore, we understand the importance of data security and
              transparency. Your data is securely stored in our state-of-the-art
              data centers, ensuring optimal protection and reliability. We
              leverage MySQL, a trusted and secure database platform known for
              its robust security features. All sensitive information, including
              passwords, undergoes encryption to prevent unauthorized access.
              This ensures that your data remains safe and confidential at all
              times. Our commitment to data security extends across every aspect
              of our operations, guaranteeing that your trust in us is
              well-placed. Rest assured, your information is in safe hands with
              RV GameStore.
            </p>
            <p class="Heading-1-para">
              At RV GameStore, we prioritize the security of your data. We
              utilize MySQL as our database platform, renowned for its robust
              security features. Your data is safeguarded through advanced
              encryption methods, ensuring that it remains fully secure and
              inaccessible to unauthorized parties. Rest assured, your passwords
              and sensitive information are protected at all times. Our
              commitment to data security means that your trust in us is
              well-placed. We continuously monitor and update our security
              protocols to mitigate any potential risks, providing you with
              peace of mind while enjoying our services.
            </p>
          </div>
          <div class="col-md-6">
            <h1 class="Heading-1 d-flex justify-center my-3">User Rights</h1>
            <p class="Heading-1-para pl-5">
              At RV GameStore, we uphold your fundamental rights as a valued
              user. You have the privilege to create and manage your account
              seamlessly, ensuring secure access through login credentials and
              the ability to recover passwords if forgotten. Explore our diverse
              array of products, from games to accessories, at your convenience.
              Enjoy the freedom to select multiple items and add them to your
              cart, tailoring your shopping experience to your preferences. Your
              feedback is essential to us; it allows us to continually improve
              our services and offerings to better meet your needs. Rest
              assured, your privacy and data security are our top priorities,
              safeguarded by stringent measures to ensure a safe and enjoyable
              shopping journey.
            </p>
          </div>

          <div class="col-lg-12 my-5"></div>

          <div class="col-md-6 border-r-2 mt-5">
            <h1 class="Heading-1 my-3">Information We Collect</h1>
            <p class="Heading-1-para">
              At RV GameStore, we gather various types of information to enhance your shopping experience. This includes personal data such as names, email addresses, and payment details provided through forms during checkout. We also collect technical data such as IP addresses and browser types via cookies and analytics tools to monitor site performance and improve our services. Usage data, including pages visited and time spent on the site, helps us understand user behavior and preferences, allowing us to tailor our offerings more effectively.
            </p>
          </div>
          <div class="col-md-6 mt-5">
            <h1 class="Heading-1 d-flex justify-center my-3">How We Protect Your Information</h1>
            <p class="Heading-1-para pl-5">
              At RV GameStore, we use industry-standard security measures, including encryption and secure access controls, to safeguard your data. Your information is retained only as long as necessary for business purposes. We also have established procedures to promptly address and manage any data breaches, ensuring the highest level of protection. This data not access any companies this handle single admin so dont take tesion.
            </p>
          </div>
          

          <div class="col-lg-12 my-5"></div>

          <div class="col-md-6 border-r-2 mt-5">
            <h1 class="Heading-1 my-3">Children’s Privacy</h1>
            <p class="Heading-1-para">
              RV GameStore is committed to protecting the privacy of children. Our website is not intended for children under the age of 13. We do not knowingly collect personal information from minors. If we learn that a child under 13 has provided us with personal data, we will promptly delete such information. We encourage parents and guardians to monitor their children's online activities and to ensure that they do not submit personal information without parental consent.
            </p>
          </div>
          <div class="col-md-6 mt-5">
            <h1 class="Heading-1 d-flex justify-center my-3">Legal Basis for Processing</h1>
            <p class="Heading-1-para pl-5">
              At RV GameStore, we process personal data based on several legal grounds. This includes the necessity of processing for the performance of a contract with you, such as managing orders and delivering products. We also process data based on your consent when you sign up for newsletters or promotions. Additionally, we may process data to comply with legal obligations and legitimate interests, such as improving our services and ensuring security. If required, we will seek your explicit consent for specific processing activities.
            </p>
          </div>

        </div>
      </div>
    </div>

    <footer th:replace="~{index::footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const options = {
          defaultPosition: 1,
          interval: 10000,
        };

        const carousel = new FlowBiteCarousel("#default-carousel", options);
      });
    </script>
  </body>
</html>
