<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="common-header">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/footers.css">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link rel="website icon" type="png" href="/images/Icon/logo.ico" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
	<title>GameStores Application</title>
</head>

<body>
	<header class="main-header" th:fragment="header">
		<ul class="navbar">
			<li class="nav-item nav-logo">RV GameStore</li>
			<li class="nav-item"><a th:href="@{/}">Home</a></li>
			<li class="nav-item"><a th:href="@{/shop}">Products</a></li>
			<li class="nav-item"><a th:href="@{/Cart/myCart}" class="d-flex align-items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#000000"
						fill="none">
						<path
							d="M8 16H15.2632C19.7508 16 20.4333 13.1808 21.261 9.06908C21.4998 7.88311 21.6192 7.29013 21.3321 6.89507C21.045 6.5 20.4947 6.5 19.3941 6.5H6"
							stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
						<path d="M8 16L5.37873 3.51493C5.15615 2.62459 4.35618 2 3.43845 2H2.5" stroke="currentColor"
							stroke-width="1.5" stroke-linecap="round" />
						<path d="M8.88 16H8.46857C7.10522 16 6 17.1513 6 18.5714C6 18.8081 6.1842 19 6.41143 19H17.5"
							stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<circle cx="10.5" cy="20.5" r="1.5" stroke="currentColor" stroke-width="1.5" />
						<circle cx="17.5" cy="20.5" r="1.5" stroke="currentColor" stroke-width="1.5" />
					</svg>
					<!-- <span class="cart-item-badge" th:text="${#lists.size(gameItemList)}"></span> -->
					<span class="header-profile pl-2">cart</span>
				</a>
			</li>
			<li class="nav-item"><a th:href="@{/contact}">Contact Us</a></li><li class="nav-item"><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
			<li class="nav-item">
				<div class="Myprofile">
					<a sec:authorize="isAuthenticated()" th:href="@{/MyProfile}" class="d-flex align-items-center">
						<svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="10.9531" cy="6" r="5" stroke="#1A1818" stroke-linecap="round"
								stroke-linejoin="round"></circle>
							<path
								d="M20.4906 18C19.2164 13.9429 15.4261 11 10.9484 11C6.47081 11 2.68051 13.9429 1.40625 18"
								stroke="#1A1818" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
						<span class="header-profile pl-2 d-flex align-items-end" th:text="${user.username}"></span>
					</a>
				</div>
			</li>
			<li class="nav-item"><a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
			<!-- <li class="nav-item nav-search-bar">
				<form th:action="@{/searchGame}" method="post">
					<input type="text" name="searchGameByName" placeholder="Search Here ..." />
					<button type="submit">Search</button>
				</form>
			</li> -->
		</ul>		
	</header>



	<div th:fragment="scripts">
		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

	</div>

</body>

</html>