<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="sweetalert2.min.css">
	<link href="/css/shop.css" rel="stylesheet" />
</head>

<body>
	<header th:insert="~{header::header}"></header>
	<div class="new-product-container container mb-5">
		<form th:action="@{/Cart/addItems}" method="post">
			<input type="hidden" th:field="*{user.Id}" />
			<input type="hidden" th:field="*{game.id}" />
			<div class="new-product-card">
				<div class="new-product-container-fluid">
					<div class="new-product-wrapper row">
						<div class="new-product-preview col-md-6">
							<div class="new-product-preview-pic">
								<div class="new-product-tab-pane active" id="new-product-pic-1">
									<img th:src="@{'http://localhost:5001/images/Games/' + ${game.id} + '.jpg'}" />
								</div>
							</div>
						</div>
						<div class="new-product-details col-md-6 mt-3">
							<h3 class="new-product-name" th:text="${game.title}">men's shoes fashion</h3>
							<p class="new-product-description" th:text="${game.description}">Lorem ipsum, dolor sit amet
								consectetur adipisicing elit. Voluptatibus, aspernatur animi temporibus soluta sint
								impedit aliquid, quibusdam aperiam autem tenetur dicta porro suscipit repudiandae non
								iure dolore enim a nesciunt harum reiciendis facilis? Odio, consectetur.</p>
							<div class="new-product-rating">
								<div class="new-product-stars">
									<th:block th:each="i : ${#numbers.sequence(1, 5)}">
										<span
											th:class="${i <= game.starRating ? 'fa fa-star checked' : 'fa fa-star'}"></span>
									</th:block>
								</div>
							</div>

							<select th:name="quantity" class="quantity-dropdown">
								<option th:each="quantity : ${quantities}" th:value="${quantity}" th:text="${quantity}">
								</option>
							</select>

							<h4 class="new-product-price">current price: <span class="cp-rs-symbol">₹</span><span
									th:text="${game.ourPrice}"> 180</span></h4>
							<h4 class="new-lists-price"> List Price: <span class="lp-rs-symbol">₹</span><span
									class="new-list-price"
									th:text="${#numbers.formatDecimal(game.listPrice, 0 , 'COMMA', 2, 'POINT')}">₹
									275.60</span></h4>
							<h5 class="new-off-pricing">Off: <span th:text="${game.off}">-35</span><span>%</span></h5>
							<div class="new-banner">
								<img src="/images/banner.png" alt="Banner">
							</div>
							<div class="new-product-action">
								<button type="submit" class="new-add-to-cart">add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('added')) {
            Swal.fire({
                title: "Good job!",
                text: "Item added to cart successfully!",
                icon: "success"
            });
        }
	</script>

	<footer th:replace="~{index::footer}"></footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>

</html>
